/* Global styles */
* {
    box-sizing: border-box;
}
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    background: #f2f2f2;
}
h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
    margin: 5px;
}
a {
    text-decoration: none;
    color: inherit;
}
.button {
    padding: .5rem 1rem;
    background: #0b7cac;
    color: white;
    border: solid 1px transparent;
    border-radius: .25rem;
}
.button:hover {
    color: white !important;
    background-color: #0a6891;
}
.clear::after {
    content: '';
    display: block;
    clear: both;
}
.text-input {
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    outline: none;
    color: #494949;
    line-height: 1.5rem;
    font-family: 'Lora', serif;
    border: solid 1px #aaaaaa;
    font-size: 1.1em;
}

/* Header styles */
header {
    background: #0b7cac;
    height: 66px;
}
header * {
    color: white;
}
header .logo {
    float: left;
    height: 66px;
    margin-left: 2em;
    /* border: 1px solid red; */
}
header .logo-title {
    margin: 12px;
    font-family: 'Merriweather', serif;
}
header .logo-title span {
    color: #00e1ff;
}
header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
    /* border: 1px solid red; */
}
.displaying {
    max-height: 100em;
}
header ul li {
    float: left;
    position: relative;
}
header ul li a i.fa.fa-chevron-down {
    font-size: 0.8em;
}
header ul li a {
    display: block;
    padding: 22px;
    text-decoration: none;
    font-size: 1.1em;
}
header ul li a:hover {
    background: #13aff0;
    transition: .5s;
}
header ul li ul {
    position: absolute;
    top: 66px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 88888;
}
header ul li:hover ul {
    display: block;
}
header ul li ul li {
    width: 100%;
    text-align: center;
}
header ul li ul li a {
    padding: 10px;
    color: #222222;
    background-color: #ffffff;
}
header ul li ul li a:hover {
    background: #e6dfdf;
}
header ul li ul li a.logout {
    color: red;
}
header .menu-icon {
    display: none;
}

.page-wrap a:hover {
    color: #0b7cac;
}
/* Carousel styles */
.carousel {
    /* border: solid 1px red; */
    position: relative;
}
.carousel .carousel-title {
    text-align: center;
    margin: 30px auto;
}
.carousel .next {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color: #0b7cac;
    cursor: pointer;
}
.carousel .post-wrap {
    width: 80%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    /* border: solid 1px red; */
    padding: 10px 0px 10px 0px;
}
.carousel .post-wrap .post {
    display: inline-block;
    width: 300px;
    height: 330px;
    margin: 0px 10px;
    /* border: solid 1px blue; */
    border-radius: 5px;
    background-color: white;
    box-shadow: 1rem 1rem 1rem -1rem #9e9e9e33;
}
.carousel .post-wrap .post .post-image {
    width: 100%;
    height: 220px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.carousel .post-wrap .post .post-info {
    height: 130px;
    /* border: solid 1px purple; */
    padding: 0px 5px;
}
.carousel .post-wrap .post .post-info i {
    font-style: normal;
}
.carousel .previous {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color: #0b7cac;
    cursor: pointer;
}

/* Content styles */
.content {
    width: 90%;
    margin: 30px auto 30px;
    /* border: solid 1px red; */
}
.content .main-content {
    width: 70%;
    float: left;
    /* border: solid 1px blue; */
}
.content .main-content .recent-post-title {
    margin: 20px 0px 20px 40px;
}
.content .main-content .post {
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: white;
    position: relative;
}
.content .main-content .post .post-image {
    width: 40%;
    height: 100%;
    float: left;
}
.content .main-content .post .post-preview {
    padding: 10px;
    width: 60%;
    float: right;
}
.content .main-content .post .post-preview .button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: solid 1px #0a6891;
    color: #0a6891 !important;
    background: transparent;
    border-radius: 0px;
}
.content .main-content .post .post-preview .button:hover {
    background-color: #0b7cac;
    color: white !important;
    transition: .25s;
}
.content .sidebar {
    width: 30%;
    float: left;
    /* border: solid 1px purple; */
    height: 300px;
}
.content .sidebar .section {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.content .sidebar .section .section-title {
    margin: 10px 0px 10px 0px;
}
.content .sidebar .section.search {
    margin-top: 80px;
}
.content .sidebar .section.topics ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: solid 1px #aaaaaa;
}
.content .sidebar .section.topics ul li a {
    border-bottom: solid 1px #aaaaaa;
    display: block;
    padding: 15px 0px 15px 0px;
    transition: all 0.3s;
}
.content .sidebar .section.topics ul li a:hover {
    padding-left: 15px;
    transition: all 0.3s;
}

/* Responsivity of the website */
/* If the max width of the device is 750px or less */
@media only screen and (max-width: 750px) {
    header {
        position: relative;
    }
    header ul {
        width: 100%;
        background-color: #0f90c8;
        max-height: 0px;
        overflow: hidden;
    }
    header ul li {
        width: 100%;
    }
    header ul li ul {
        position: static;
        display: block;
        width: 100%;
    }
    header ul li ul li a{
        background: #0f90c8;
        color: white;
        text-align: left;
        padding-left: 50px;
    }
    header ul li ul li a:hover{
        background: #13aff0;
    }
    header .menu-icon {
        position: absolute;
        display: block;
        right: 20px;
        top: 15px;
        font-size: 2em;
    }
}